body {
  width: 100%;
}

header {
  background-color: black;
}

#signup {
  border: 3.5px solid rgb(47, 190, 47);
  border-radius: 12px;
  color: greenyellow;
  background-color: black;
  position: relative;
  left: 1400px;
  bottom: 260px;
}

#signin {
  border: 3.5px solid rgb(47, 190, 47);
  border-radius: 12px;
  color: greenyellow;
  background-color: black;
  position: relative;
  left: 1200px;
  bottom: 260px;
}

header button:hover {
  font-size: 20px;
}

#imgback {
  height: 200px;
  display: inline;
}

#nomesite {
  color: rgb(126, 205, 8);
  font-size: 30px;
  padding-left: 110px;
}

.listainformacoes {
  font-size: 40px;
  text-decoration: none;
  color: rgb(142, 236, 0);
  text-transform: uppercase;
}

.headerli {
  display: inline-block;
  margin: 0 15px;
  display: inline-block;
  margin: 0 15px;
  position: relative;
  left: 700px;
  bottom: 170px;
  padding-top: 10px;
}

ul a:hover {
  color: white;
}

form label {
  display: block;
  font-size: 20px;
  font-weight: bolder;
  margin: 30px 0;
}

form input {
  display: block;
  width: 50%;
  height: 25px;
  margin: 30px 0;
}

form p {
  font-size: 25px;
  margin: 30px;
}

.inputradio {
  display: inline;
}

.inr {
  position: relative;
  bottom: 35px;
  left: -60px;
  margin: 3px;
}

#labelcheck {
  display: inline-block;
}

#submit {
  border: 3.5px solid black;
  background-color: blue;
  color: whitesmoke;
}

#check {
  display: inline;
  position: relative;
  left: -300px;
}

footer {
  background-color: black;
}

footer p {
  color: rgb(30, 180, 30);
  padding-left: 645px;
  padding-bottom: 10px;
}

#imgfinal {
  padding-left: 500px;
}
